body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s, text-decoration 0.3s;
}

.navbar li a:hover {
    background-color: blue;
    text-decoration: underline;
}

.button {
    background-color: rgb(36, 212, 36);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-image: linear-gradient(to right, red, yellow);
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.teks {
    animation: slideIn 1.5s ease-in-out forwards;
}

.teks:hover {
    color: blue;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.welcome {
    animation: slideIn 1.5s ease-in-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.follow {
    animation: slideIn 1.5s ease-in-out forwards;
}